.js_plugin_controls_zoom_in {
    background-image: url()
}
.js_plugin_controls_zoom_out {
    background-image: url()
}
.js_plugin_controls_compass {
    background-image: url()
}
.js_plugin_controls_themes {
    background-image: url()
}
